
body {
    margin: 0px;
    background-color: rgb(215, 209, 209);
    min-height: 100vh; 
  
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

nav {

    text-align: right;
    display: inline-block;
    width: calc(100% - 220px);
    
}

header{
    
    padding: 20px;
    color: black;
    font-size: 24px;
    text-decoration: none;
    background-color: rgb(153, 148, 143);
    
}

.button {
    padding: 10px;
    border: 2px solid;
    color: black;
    font-size: 24px; 
    background-color: rgb(180, 159, 100); 
    border-radius: 10px; 
    text-decoration: none;
    cursor: pointer;
}

button:hover{
    background-color: rgb(207, 196, 163); 
}

.image {
   text-align: center;
   margin-top: 2px;
}

p{
    margin: 20px 100px;
    text-align: center;
}

section{
    margin: 20px 100px;
    
}

footer{
    text-align: center;
    background-color: grey;
    margin-top:auto; 
    border-top: 1px solid black;
}

li{
    padding: 10px 20px;
    display: inline-block;
    margin: 5px 5px;
    
    
}

ul{
    /* margin: 10px; */
    text-decoration: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.iletisim {
    text-align: center;
}

.grid-container {
    display: inline-grid;
  }

  .ürünler{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .btn{
    margin: 5px;
    width: 120px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(180, 159, 100); ;
    cursor: pointer;

    
  }

  btn:hover{
    background-color: rgb(207, 196, 163); 
}

  .input{
    width: 120px;
  }

 .no-button{
    text-align: center;
    width: 30px;
 }
  
 .hakimage{
    padding: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
 }

 .rectangular{
    text-align: center;
    width: 50px;
    border: 1px solid black;
    border-radius: 10px;
    height: 25px;
 }

 .circle{
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    width: 40px;
    height: 25px;
 }